# Activation of RewriteEngine
RewriteEngine on

# Desactivation of direct access folder under public/vendor
Options -Indexes

# Redirect all request to public/*
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) public/$1 [L]

# If file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f

# If direcroty doesn't exist
RewriteCond %{REQUEST_FILENAME} !-d

# If symbolic link doen't exist
RewriteCond %{REQUEST_FILENAME} !-l

# Then remove the question mark from the request but maintain the query string 
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
